Well <%=name%>, who is <%=age%> years old, what are your favorite numbers? Enter three numbers between 1 and 100. 

<form method= "post" action="/three_numbers">
<input type="hidden" name="user_name" value=<%=name%>>
<input type="hidden" name="age" value=<%=age%>>
<input type = "number" min ="1" max = "100" name = "num1">
<input type = "number" min ="1" max = "100" name = "num2">
<input type = "number" min ="1" max = "100" name = "num3">
<input type  = "submit">
</form>